@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.currencyinfo{
    font-family: 'Lato', sans-serif;
    box-shadow: 0 0 3px 3px #F4A261;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    background-color: #E9C46A;
    transform: translateY(-50%);
    border-radius: 14px ;
}
.inputs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin: 0.5em;
}
.tables{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #2A9D8F;
    font-family: 'Lato', sans-serif;
}