.article {
    background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    border: 8px solid;
    border-image: linear-gradient(to bottom,hsl(204 100% 59%),hsl(98 100% 62%)) 0 1;
  }
  
  .article h1 {
    font-size: 8vmin;
    line-height: 1.1;
  }
  
  
  .article h1,.article p {
    margin: 0;
  }
  
  .article p {
    font-family: "Dank Mono", ui-monospace, monospace;
  }
  
  