@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 410px;
    background-color: #264653;
}
.header{
    font-family: 'Lato', sans-serif;
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1em 0 1em;
    
    color: #D4D2D5;
    flex-wrap: wrap;
}
.logo{
    max-width:50px;
}
.logo img{
    width: 100%;
}
.nav{
    display: flex;
    flex-direction: row;
    
}
.nav ul{
    display: flex;
    
    flex-direction: row;
    width: 100%;
    text-decoration: none;
    list-style: none;
    padding: 0 0.5em;

}
.nav ul li{
    padding-left: 0.5em;
    
}
.nav ul li:hover{
    transform: scale(1.05);
    color: #E9C46A;
}
.accounts{
    
    padding-top: 0.5em;
}
.accounts button{
    font-family: 'Lato', sans-serif;
    background: #2A9D8F;

    margin: 0.2em;
}

.accounts button {
  appearance: none;
  background-color: #2A9D8F;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.accounts button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.accounts button:hover {
  background-color: #E9C46A;
}

.accounts button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.accounts button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.accounts button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
.moto{
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
  
}
.moto h2, .moto h5{
    color: white ;
    font-family: 'Lato', sans-serif;
   
}